$mobile-xsmall-width: 320px;
$mobile-small-width: 375px;
$mobile-medium-width: 425px;
$tablet-width: 768px;
$desktop-xsmall-width: 1024px;
$desktop-medium-width: 1280px;
$desktop-large-width: 1440px;

@mixin mobile-xs {
  @media only screen and (max-width: #{ $mobile-xsmall-width }) {
    @content;
  }
}
@mixin mobile-s {
  @media only screen and (max-width: #{ $mobile-small-width }) {
    @content;
  }
}
@mixin mobile-md {
  @media only screen and (max-width: #{ $mobile-medium-width }) {
    @content;
  }
}
@mixin tablet-inital {
  @media only screen and (max-width: #{ $tablet-width }) {
    @content;
  }
}
@mixin tablet-large {
  @media only screen and (max-width: #{ $desktop-xsmall-width - 1px }) {
    @content;
  }
}
@mixin desktop-medium {
  @media only screen and (max-width: #{ $desktop-medium-width }) {
    @content;
  }
}
@mixin desktop-large {
  @media only screen and (max-width: #{ $desktop-large-width }) {
    @content;
  }
}

@mixin onlyDesktop {
  @media only screen and (min-width: #{ $desktop-xsmall-width }) {
    @content;
  }
}
@mixin onlyDesktop-medium {
  @media only screen and (min-width: #{ $desktop-medium-width }) {
    @content;
  }
}
@mixin onlyDesktop-large {
  @media only screen and (min-width: #{ $desktop-large-width }) {
    @content;
  }
}
